<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th>Id Departement</th>
                        <th>Nom de departement</th>
                        <th>Nombre d employee </th>
                        <th>Date d'affectation </th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody *ngFor="let departement of departements">


                    <tr>
                        <td>{{departement.idDepartement}}</td>
                        <td>{{departement.nomDepartement}}</td>
                        <td>{{departement.nombreEmployee}}</td>
                        <td>{{departement.dateAffectation  }}</td>
                        <td>{{departement.college.nomCol  }}</td>
                        <td><button type="button" (click)="supprimerDepartement(departement)" class="btn btn-danger" > Supprimer</button>
                        <td><a class="btn btn-success" [routerLink]="['/updateDepartement',departement.idDepartement]">Modifier</a></td>

                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>